<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </head>
  <body>
    <div id="app">
      <form id="paymentForm" action="<%- PayGateWay %>" method="post">
        <!-- tradeInfo -->
        <input
          type="text"
          name="MerchantID"
          value="<%- tradeInfo.MerchantID %>"
        />
        <input
          type="text"
          name="TradeInfo"
          value="<%- tradeInfo.TradeInfo %>"
        />
        <input type="text" name="TradeSha" value="<%- tradeInfo.TradeSha %>" />
        <input type="text" name="Version" value="<%- tradeInfo.Version %>" />
        <!-- targetOrder -->
        <input
          type="text"
          name="TimeStamp"
          value="<%- targetOrder.timeStamp %>"
        />
        <input
          type="text"
          name="MerchantOrderNo"
          value="<%- targetOrder.merchantOrderNo %>"
        />
        <input type="text" name="Amt" value="<%- targetOrder.amt %>" />
        <input
          type="text"
          name="ItemDesc"
          value="<%- targetOrder.itemDesc %>"
        />
        <input type="email" name="Email" value="<%- targetOrder.email %>" />
        <!-- -->
        <input type="text" name="NotifyUrl" value="<%- NotifyUrl %>" />
        <input type="text" name="ReturnUrl" value="<%- ReturnUrl %>" />
        <button type="submit">送出</button>
      </form>
      <script>
        document.getElementById('paymentForm').submit();
      </script>
    </div>
  </body>
</html>
